{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Sign In</h3>
                        <form method="post" action="{% url 'account:sign_in' %}">
                            {% csrf_token %}

                            {{ form }}
                            <div class="d-grid mb-3 mt-4">
                                <button type="submit" class="btn btn-primary ">Sign In</button>
                            </div>
                        </form>


                        {#                        start social auth #}
                        <div class="text-center mb-3">
                            <p class="text-muted">Or sign in with</p>
                            <div class="d-flex justify-content-center gap-2">
                                <a href="#" class="btn btn-outline-danger">
                                    <i class="fab fa-google"></i> Google
                                </a>
                                <a href="#" class="btn btn-outline-dark">
                                    <i class="fab fa-github"></i> GitHub
                                </a>
                            </div>
                        </div>


                        <div class="text-center">
                            <a href="#" class=" link-underline link-underline-opacity-0">Forgot Password ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
{% endblock %}

