{% extends 'base.html' %}
{% block title %}
	edit category
{% endblock %}
{% block content %}
	    <div class="container mt-5">
        <!-- Xarajat qo'shish formasi -->
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"> Edit Category  </h5>
            </div>
            <div class="card-body">


                <form action="{% url 'money:category_edit' category.id %}" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}


                    <button type="submit" class="btn btn-primary mt-3">Saqlash</button>
                </form>


            </div>


        </div>

        <div>


        </div>


    </div>

{% endblock %}